/* NAVIGATION */
@headings-text-transform: none;
@navigation-element-text-transform: none;
@menu-helper-element-text-transform: none;
@menu-helper-submenu-text-transform: none;

/* BUTTON */
@btn-padding-horizontal: 48px;
@btn-padding-vertical: 6px;
@btn-text-transform: none;
@btn-border-radius: 4px;

.btn {
  padding-bottom: 7px;
}

/* TYPOGRAPHY */

h2,
.h2,
.products.products-block .product .p .name,
.products.products-block .product .p .blog-link {
  text-align: center;
  color: var(--color-secondary-text);
}

h2,
.h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.small-text {
  font-size: 14px;
}

h4,
h5,
h6 {
  font-weight: 600;
}

h4,
h5,
p,
.text {
  line-height: 1.4;
  color: #3a3530;
}

img {
  object-fit: cover;
}
